@import "./root.style.css";

@keyframes rotate-animation {
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  background-color: white;
  font-size: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  --va: calc((1vw + 1vh) / 2);
  --vad: calc(var(--va) / 10);
  --vac: calc(var(--va) / 100);
  --vam: calc(var(--va) / 1000);
  --default-widow-width: 100vw;
}
.header {
  width: var(--default-widow-width);
  min-height: 5.5em;
}
.header a {
  border-radius: 5px;
  color: black;
  background: none;
  padding: 0.2em;
  text-decoration: none;
}
div {
  /*border: solid 0.8px #e19dfc;*/
  min-height: 2em;
}
.org-head {
  float: left;
  min-width: 15em;
  font-weight: bolder;
}
.logo {
  width: 5em;
  float: left;
}
.logo img {
  width: 100%;
  height: 100%;
}
.r-menu {
  float: right;
  min-width: 15em;
}
.menu-bar {
  clear: both;
  width: var(--default-widow-width);
  height: 2.4em;
  background-color: var(--chetro-cherry);
  padding-right: 0;
  padding-left: 0;
}
.content {
  background: var(--grad-bg);
  min-height: calc(100vh - 5.5em * 2);
  width: var(--default-widow-width);
  /*animation: rotate-animation 4s infinite;*/
}

.footer {
  min-height: 2.5em;
  width: var(--default-widow-width);
  background-color: var(--chetro-cherry);
}
span.org-name {
  display: inline-block;
  font-size: 1.3em;
}
span.org-name:first-child {
  font-size: 2em;
}
span.org-name::first-letter {
  color: var(--dark-cherry);
  font-weight: bolder;
  text-shadow: 0.5px 0 0 black, 0 0.5px 0 black, -0.5px 0 0 black,
    0 -0.5px 0 black;
}
.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: var(--default-widow-width);
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 0.3em;
  padding-bottom: 0.1em;
}

.main-nav li {
  border-right: 1.5px solid var(--cherry-leaf-pickled);
  text-align: center;
}
.main-nav li:last-child {
  border: 0;
}
.main-nav a {
  font-size: 1.2em;
  font-weight: bold;

  margin: 0;
  border-radius: 5px;
  background: none;
  color: var(--cherry-leaf-pickled);
  display: block;
  padding: 0em;
  margin-top: 0em;
  text-decoration: none;
}
div.rev {
  transform: scaleX(-1);
  display: inline-block;
}
div.top-elem {
  height: calc(100vh - 5.5em);
}
div.top-elem div.img {
  width: 100%;
  height: 100%;
  background: rgb(127, 255, 212);
  background: linear-gradient(
    354deg,
    rgba(127, 255, 212, 1) 0%,
    rgba(214, 255, 241, 0.98) 49%,
    rgba(221, 255, 243, 0.93) 69%,
    rgba(227, 255, 245, 0.89) 83%,
    rgba(230, 255, 246, 0.86) 94%,
    rgba(255, 255, 255, 0.82) 100%
  );
}
div.top-elem .motto {
  display: inline-block;
  line-height: 1em;
  font-size: 5em;
  position: absolute;
  top: 50%;
  left: 40%;
  width: 80vw;
  transform: translate(-40%, -50%);
  margin: 0;
  padding: 0;
}
div.top-elem .mottoSub {
  display: inline-block;
  line-height: 1.2em;
  font-size: 3em;
  position: absolute;
  top: calc(50% + 2em);
  left: 40%;
  width: 80vw;
  transform: translate(-40%, -50%);
  margin: 0;
  padding: 0;
}

div.top-elem .logoTop {
  font-size: 3em;
  position: absolute;
  top: 50%;
  right: 10%;
  width: 26vw;
  transform: translate(10%, 2.5%);
  margin: 0;
  padding: 0;
}
